.popup {
  position: relative;
  margin: 32px auto;
  padding: 16px;
  width: 420px;
  max-width: 100%;
  background-color: $c-white;

  @media ($m-s) {
    width: 560px;
  }

  @media ($m-l) {
    width: 800px;
    padding: 24px;
  }
}

.popup__cross-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: $c-base;
  cursor: pointer;

  @media ($m-l) {
    top: 16px;
    right: 16px;
  }
}