@font-face {
  font-family: 'franklinGothic';
  src: url('../fonts/franklingothic_demi.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'franklinGothic';
  src: url('../fonts/FranklinGothicDemiC-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'franklinGothic';
  src: url('../fonts/FRABK.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'franklinGothic';
  src: url('../fonts/franklin-gothic-book-italic.ttf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
